* {
  box-sizing: border-box;
}

:root {
--primary: #355c7d;
--secondary: #F8B195;
--tertiary: #F67280;
font-size: 100%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
  color: var(--primary);
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header{
  background-color: var(--tertiary);
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--tertiary);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 1px;
}

.btn-grid {
  display: grid;
  gap: 5px;
  margin: 20px 0;
}

.btn {
  color: whitesmoke;
  border-radius: 5px;
  border: 1px, solid, #6C5B7B;
  background-color: #6C5B7B;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: var(--primary);
}

.start-btn, .next-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

  
