* {
  box-sizing: border-box;
}

:root {
--primary: #355c7d;
--secondary: #C06C84;
--tertiary: #F67280;
font-size: 100%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
  color: var(--primary);
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: auto;
}

header{
  background-color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
  
