* {
  box-sizing: border-box;
}

:root {
--primary: #355c7d;
--secondary: #C06C84;
--tertiary: #F67280;
font-size: 100%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
  color: var(--primary);
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header{
  background-color: var(--tertiary);
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--tertiary);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 1px;
}

.btn-grid {
  display: grid;
  gap: 5px;
  margin: 20px 0;
}

.btn {
  
}

  
